<div id=numbers__row-1>
  <button id=numbers__1 ng-click="$ctrl.press(1)">1</button>
  <button id=numbers__1 ng-click="$ctrl.press(2)">2</button>
  <button id=numbers__1 ng-click="$ctrl.press(3)">3</button>
</div>
<div id=numbers__row-2>
  <button id=numbers__1 ng-click="$ctrl.press(4)">4</button>
  <button id=numbers__1 ng-click="$ctrl.press(5)">5</button>
  <button id=numbers__1 ng-click="$ctrl.press(6)">6</button>
</div>
<div id=numbers__row-3>
  <button id=numbers__1 ng-click="$ctrl.press(7)">7</button>
  <button id=numbers__1 ng-click="$ctrl.press(8)">8</button>
  <button id=numbers__1 ng-click="$ctrl.press(9)">9</button>
</div>
<div id=numbers__row-4>
  <button id=numbers__1 ng-click="$ctrl.press('-')">-</button>
  <button id=numbers__1 ng-click="$ctrl.press(0)">0</button>
  <button id=numbers__1 ng-click="$ctrl.press('.')">.</button>
</div>
